################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/H1/FileContentIndex/60a3b738-baae-4425-a0ce-808b62045a35.vsidx
/.vs/H1/FileContentIndex/d3ba6eb2-052a-4aa5-8b16-5d4214e56bb2.vsidx
/.vs/H1/FileContentIndex/60a3b738-baae-4425-a0ce-808b62045a35.vsidx